
__pycache__/Armas.cpython-38.pyc

__pycache__/FunctionsDados.cpython-38.pyc

__pycache__/listaArmas.cpython-38.pyc

__pycache__/Monster.cpython-38.pyc

__pycache__/Player.cpython-38.pyc

__pycache__/pygame_functions.cpython-38.pyc

.idea/misc.xml

.idea/modules.xml

.idea/vcs.xml
